<template>
  <div class="panel panel-default">
        <div class="panel-heading">Energy</div>

        <div class="panel-body">
            <h2 style="margin-top:0px">Power Plants</h2>
            <p>You currently own: {{ powerPlants }} power plants.</p>
            <p>A new power plant costs: {{ formatPrice(powerPlantPrice) }}.</p>
            <p>A power plant uses 1 oil per second and produces 10 energie per second.</p>
            <p>You can sell a power plant for 75% of it's original price: {{ formatPrice(powerPlantPrice * 0.75) }}.</p>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-info" @click="purchasePowerPlant">Buy Power Plant</button>
                <button type="button" class="btn btn-warning" @click="sellPowerPlant">Sell Power Plant</button>
            </div>
            <h2 style="margin-top:0px">Power Storage</h2>
            <p>Currently you have space for: {{ energySpace }} energy units.</p>
            <p>Every unit can store {{ energyStorageCapacity }} and costs: {{ formatPrice(energyStoragePrice) }}</p>
            <button class="btn btn-info" @click="purchaseStorage">Buy new storage</button>
        </div>
    </div>
</template>

<script>
export default {
    props: ['energy', 'powerPlants', 'powerPlantPrice', 'energyStorages', 'energyStorageCapacity', 'energyStoragePrice'],
    methods: {
        purchaseStorage() {
            this.$emit("purchaseEnergyStorage");
        },
        purchasePowerPlant() {
            this.$emit("purchasePowerPlant");
        },
        sellPowerPlant() {
            this.$emit("sellPowerPlant");
        },
        formatPrice: function(price) {
            return price.toLocaleString('nl-NL', { style: 'currency', currency: 'EUR' });
        },
        sleep: function(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }
    },
    computed: {
        energySpace() {
            return (this.energyStorages * this.energyStorageCapacity) - this.energy;
        }
    },
    watch: {
        powerPlants(newValue, oldValue) {
            if(newValue > 0) {
                setInterval(() => {
                    this.$emit("energyTick");
                }, 1000);
            }
        }
    }
}
</script>
